body{
  background-color:rgb(31, 165, 255)
}


header {
  text-align: center;
}

body {
  background-color: #E1EDEF;
  height: 80vh;
}

/* Chat Section */
#chat {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: space-between;
}

#chatRoom {
  background-color: white;
  padding: 10px 15px 10px 15px;
  min-height: 30vh;
  max-height: 70vh;
  overflow-y: auto;
  overflow-x: hidden;
}

#chatRoom li {
  list-style-type: none;
}

#messageArea {
  display: flex;
  flex-wrap: nowrap;
  background-color: white;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  padding: 10px 5px 10px 5px;
}

#messageBar {
  border: 1px solid rgb(215, 215, 215);
  border-radius: 5px;
  padding: 5px 10px 5px 10px;
  margin-right: 10px;
  width:16vw;
}

textarea:focus, #messageBar:focus{
  outline: none;
}

#sendButton {
  background-color: rgb(31, 165, 255);
  color: rgb(255, 255, 255);
  padding: 5px 10px 5px 10px;
  border: 1px solid rgb(31, 165, 255);
  border-radius: 5px;
  outline: none;
}

.wrapper {
  display: grid;
  grid-template-areas: 
  "calc calc calc calc vid vid" 
  "canv canv canv canv chat chat"
  ;
  height: 100%;
  grid-gap: 20px;
  margin: 1% 13%;
}

.wrapper > div {
  border-radius: 15px;
}

.chat-holder {
  grid-area: chat;
  background-color: darkgrey;
}

.video-holder {
  grid-area: vid;
  background-color: red;
}

.canvas-holder-holder {
  grid-area: canv;
  background-color: blue;
}

#calculator, #firepad {
  grid-area: calc;
  background-color: green;
}

.grey {
  grid-area: grey;
  background-color: lightgray;
}

.hidden{
  visibility:hidden;
}
