body{
  background-color:rgb(31, 165, 255)
}


header {
  text-align: center;
}

body {
  background-color: #E1EDEF;
}

/* Chat Section */
#chat {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: space-between;
}

#chatRoom {
  background-color: white;
  padding: 10px 15px 10px 15px;
  min-height: 30vh;
  max-height: 70vh;
  overflow-y: auto;
  overflow-x: hidden;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  height: 100%;
}

#chatRoom li {
  list-style-type: none;
}

#messageArea {
  display: flex;
  flex-wrap: nowrap;
  background-color: white;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  padding: 10px 5px 10px 5px;
}

#messageBar {
  border: 1px solid rgb(215, 215, 215);
  border-radius: 3px;
  padding: 5px 10px 5px 10px;
  margin-right: 10px;
  width:16vw;
}

textarea:focus, #messageBar:focus{
  outline: none;
}

#sendButton {
  background-color: rgb(31, 165, 255);
  color: rgb(255, 255, 255);
  padding: 5px 10px 5px 10px;
  border: 1px solid rgb(31, 165, 255);
  border-radius: 3px;
  outline: none;
}

.wrapper {
  display: grid;
  grid-template-areas: 
  "calc calc calc calc vid " 
  "canv canv canv canv chat "
  ;

  grid-gap: 20px;
  background: #79B5BE;
  padding: 20px;
  padding-bottom: 27px;
  row-gap: 18px;
  column-gap: 20px;
  border-radius: 5px; 
}

.wrapper > div {
  border-radius: 3px;
}

.buttons {
  grid-area: but;
  background-color: brown;
}

#chat {
  grid-area: chat;
}

.video-holder {
  grid-area: vid;
}

.canvas-holder-holder {
  grid-area: canv;
}

#calculator, #firepad {
  grid-area: calc;
  background-color: green;
}

.grey {
  grid-area: grey;
  background-color: lightgray;
}

.hidden{
  visibility:hidden;
}
