body {
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.wrapper {
    display: grid;
    grid-template-areas: 
        "black black red red red red"
        "blue blue green green green grey"
    ;
    grid-template-columns: 0.5fr 1fr 1fr 1fr 1fr 50px;
    /* grid-template-rows: 100px 350px; */
    height: 100%;
    grid-gap:50px;
    margin: 1%;
}

.black {
    grid-area: black;
    background-color: darkgrey;
}


.red {
    grid-area: red;
    background-color: red;
}

.blue {
    grid-area: blue;
    background-color: blue;
    width: 5x;
}

.green {
    grid-area: green;
    background-color: green;
}

.grey {
    grid-area: grey;
    background-color: lightgray;
}