body {
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
}

.wrapper {
    display: grid;
    grid-template-areas: 
    "calc calc calc calc red red" 
    "blue blue blue blue blue black"
    ;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 2fr;
    /* grid-template-rows: 100px 350px; */
    height: 100%;
    grid-gap:20px;
    margin: 1% 13%;
}

.black {
    grid-area: black;
    background-color: darkgrey;
}

.red {
    grid-area: red;
    background-color: red;
}

.blue {
    grid-area: blue;
    background-color: blue;
    width: 5x;
}

#calculator {
    grid-area: calc;
    background-color: green;
}

.grey {
    grid-area: grey;
    background-color: lightgray;
}